[submodule "worker/sisyphe-xml"]
	path = worker/sisyphe-xml
	url = https://github.com/istex/sisyphe-xml.git
[submodule "worker/sisyphe-pdf"]
	path = worker/sisyphe-pdf
	url = https://github.com/istex/sisyphe-pdf.git
[submodule "worker/sisyphe-xpath"]
	path = worker/sisyphe-xpath
	url = https://github.com/istex/sisyphe-xpath.git
[submodule "worker/sisyphe-filetype"]
	path = worker/sisyphe-filetype
	url = https://github.com/istex/sisyphe-filetype.git
