language: node_js

node_js:
  - "7"

services:
  - redis-server
  - elasticsearch

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - xmlstarlet
      - g++-4.8

notifications:
  email: false
